.chapter-container {
    position: relative; /* Make container relative for absolute positioning */
    height: 100vh; /* Fill the entire viewport height */
  }
  
.page-content {
    padding: 1em;
    background-color: #eee;
    border-radius: 4px;
  }
  
.page-pagination {
    position: absolute; /* Absolute positioning relative to container */
    bottom: 0; /* Place it at the bottom */
    left: 0; /* Place it on the left edge */
    right: 0; /* Extend it to the right edge */
    padding: 1em;
    background-color: #ccc;
    border-radius: 4px;
  }