.listening-icon-speaker{
    cursor: pointer;
    color: black;
    &:hover {
        color: blue;
    }
}


.result-text {
    display: inline-flex;
    margin-bottom: 0px;
    border: 1px solid #ccc; // Subtle border
    background-color: #f2f2f2; // Subtle background color
    padding: 0px; // Adjust padding as needed
    align-items: end;
    .okresult {
        color: green;
    }
}

.write-section {
    display: block;
    align-items: center;

    #user-text-input-id{
        display: flex;
    }
}

.book-finished-ok {
    color: green;
    font-weight: bold;
    position: relative;
    display: flex;
}

.book-finished-ok::after {
    content: "\2714"; /* Unicode character for a checkmark */
    color: green;
    position: absolute;
    right: -20px; /* Adjust as needed */
}