.titles-framework {
    flex-direction: column;
    width: 800PX;
    height: 100vh;
    display: flex;
}

.title-container {
    display: contents;
}

.title-left-contents{
    flex: 0;
}
.exit-buttom{
    margin-left: auto;
}